<%- include('../partials/header') %>
<!-- chart.js installation through cdn-->
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.js'>
</script>

<h1>Income Management Dashboard</h1>
<h2><%= user.name%></h2>
<!-- display outstanding balance -->
<h2 id="balance">Outstanding Income Balance = <%=outstanding.toLocaleString("en-US",{style:"currency", currency:"THB"})%></h2>
<!-- filter month -->
<div>
    <form action="" method="GET">
    <select id="filter-dropdown" class='filterMonth' name="filterMonth">
        <option value='All'>ALL</option>
        <%- months.map(m =>
        `<option value="${m}">${m.toUpperCase()}</option>`).join('')%>
    </select>
    <button id='filterMonth' type="submit" onclick="filterMonth()">Filter</button>
    </form>
</div>
<div id="display-month">
    Display filtered month : <%= month%>
</div>
<!-- dashboard display side-by-side -->
<div class="side-by-side">
  <!-- income  -->
<div class='dashboard income'>
    <h2>Income Details</h2>
<!-- add New Income -->
<button class="add-income"><a href='/income/new'><b>ADD INCOME</b></a></button>
<table id='income'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Source</th>
            <th>Amount</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <% let totalIncome = 0 %>
        <%income.forEach((i) => {%>
        <!-- check if outputMonth === ALL -->
        <!-- get the total amount sum -->
        <% totalIncome += i.amount %>
        <tr>
            <!-- formate Date Object -->
            <% date= i.date.getDate().toString().padStart(2, '0') + '-' + (i.date.getMonth() + 1).toString().padStart(2, '0') + '-'+ i.date.getFullYear()%>
            <td><%= date %></td>
            <td><%=i.source%></td>
            <!-- convert the amount to currency THB -->
            <td><%=i.amount.toLocaleString("en-US",{style:"currency", currency:"THB"})%></td>
            <td><%=i.note%></td>
            <td><% if (user?._id.equals(i.user)) { %>
            <!-- delete action -->
              <form action="/income/<%= i._id %>?_method=DELETE" method="POST">
                <button id="remove" type="submit"><b>Remove</b></button>
              </form>
            <% } %>
          </td>
        </tr>
        <%});%>
        <tr>
        <!-- Total row in THB currency -->
        <td colspan="1"></td>
        <td><strong>Total Income</strong></td>
        <td><strong><%= totalIncome.toLocaleString("en-US",{style:"currency", currency:"THB"}) %></strong></td>
      </tr>
    </tbody>
</table>
</div>
<!-- chart display -->
<div class="chart-container" style="position:relative; height:15vh; width:15vw; padding: 30px">
    <h2>Expense Composition by Category</h2>
    <canvas id="expenseChart"></canvas>
</div>
<script>
    let expenseObj = {}
    let expenseDB = JSON.parse(`<%- JSON.stringify(expense) %>`);
    expenseDB.forEach(e => {
      if (e.category.category in expenseObj) {
        expenseObj[e.category.category] += e.amount
      } else {
        expenseObj[e.category.category] = e.amount
      }
    })

    let labelsData = Object.keys(expenseObj)
    console.log(labelsData)
    let expenseData = Object.values(expenseObj)
    console.log(expenseData)
    // force color
    const options = {
      plugins: {
          colors: {
              forceOverride: true
          }
      }
    };
    //function to display chart --> id match with id in canvas
    let pieChart = new Chart('expenseChart', {
      type: 'doughnut',
      options: options,
      data: {
        labels: labelsData,
        datasets : [{
          labels: 'expense data',
          data : expenseData,
          backgroundColor: [
            // set the pie chart colors
                '#14cb30',
                '#f7ca67',
                '#ce96ff',
                '#1bddb0',
                '#579ff5',
                '#fbce75',
                '#ff696a',
                '#4b62e9',
                '#ff8d13',
                '#f83053',
                '#16399e',
                '#a1e50b',
                '#26afff',
                '#c5b5f5',
                '#e4dd2d',
        ],
          hoverOffset: 4
        }]
      }
    })
</script>

<!-- expense -->
<div class='dashboard expense'>
    <h2>Expense Details</h2>
<!-- add New Expense -->
<button class="add-expense"><a href='/expense/new'><b>ADD EXPENSE</b></a></button>
<table id='expense'>
    <thead>
        <tr>
            <th>Date</th>
            <th>Detail</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Note</th>
        </tr>
    </thead>
    <tbody>
        <% let totalExpense = 0 %>
        <%expense.forEach((e) => {%>
        <!-- get the total amount sum -->
        <% totalExpense += e.amount %>
        <tr>
            <!-- formate Date Object -->
            <% date= e.date.getDate().toString().padStart(2, '0') + '-' + (e.date.getMonth() + 1).toString().padStart(2, '0') + '-'+ e.date.getFullYear()%>
            <td><%= date %></td>
            <td><%=e.detail%></td>
            <td><%=e.category.category%></td>
            <!-- convert the amount to currency THB -->
            <td><%=e.amount.toLocaleString("en-US",{style:"currency", currency:"THB"})%></td>
            <td><%=e.note%></td>

            <td><% if (user?._id.equals(e.user)) { %>
            <div class="remove-edit-button">
            <!-- delete action -->
              <form id='data' action="/expense/<%= e._id %>?_method=DELETE" method="POST">
                <button id="remove" type="submit"><b>Remove</b></button>
              </form>
            <!-- edit action -->
              <form id='data' action="/expense/<%= e._id %>/edit">
                <button id="edit" type="submit"><b>Edit</b></button>
              </form>
            <% } %>
            </div>
          </td>
        </tr>
        <%});%>
        <tr>
        <!-- Total row in THB currency -->
        <td colspan="2"></td>
        <td><strong>Total Expense</strong></td>
        <td><strong><%= totalExpense.toLocaleString("en-US",{style:"currency", currency:"THB"}) %></strong></td>
      </tr>
    </tbody>
</table>
</div>
</div>



<%- include('../partials/footer') %>